.Auth {
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0.7rem 1rem 2rem #eee;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
}

.Auth__form {
  display: flex;
  flex-direction: column;
}

.Auth__form input {
  margin-bottom: 1rem;
  align-self: center;
}
